<!DOCTYPE html>
<html>
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta charset="utf-8">
 <title>Mercado Liebre</title>
 <link rel="stylesheet" href="/css/styles.css">
 <script src="https://kit.fontawesome.com/5066c04401.js" crossorigin="anonymous"></script>

 </head>
 <body>
<header>
<a href ="https://www.mercadoliebre.com">
<div><img class="Logo" src = "\img\logoFondo.png"></div>
</a>
<input type="text" name="barra-de-busqueda" placeholder="Busque aquí">
<button> 
<i class="fa fa-search"> </i>
</button>

<p class= "Tarjeta"> <i class="fas fa-hand-holding-usd"></i>Compra en cuotas con tu tarjeta de credito</p>

<nav>
<ul>
<li><a  href="./ofertas.html">Ofertas</a></li>
<li><a href="./tiendas">Tiendas Oficiales</a></li>
<li><a  href="./vender">Vender</a></li>
<li><a  href="https://www.mercadoliebre.com">Ayuda</a></li>
<div class="Margin"></div>
<li><a href="./login.html"><i class="fas fa-house-user">Registrate</i></a></i>
<li><a  href="carrito.html">Mis Compras<i class="fas fa-shopping-basket"></a></i>
</ul>
</nav>
<button class="burger-menu"><i class="fas fa-bars"></i></button>
<div class="Banner"><img class="Banner" src="/img/Banner.jpg"></div>
</header>
<main class="Main">
<section>
<h1 class="vista">Basado en tu utlima vista</h1> 
<div class="products">

<article>  
<img src="/img/cafetera.jpg">
<div class="main article">
<i class="fas fa-shipping-fast"></i>
<p class="price">$5500</p>
<p class="discount">10% off</p>
<h4 class="description">Cafetera</h4>
</div>

</article>
<article>
<img src="/img/Macbook2019.jpg" >
<div class="main article">
<i class="fas fa-shipping-fast"></i>
<p class="price">$223000</p>
<h4 class="description">Macbook Pro 13</h4>
</div>

</article>
<article>
<img src="/img/SmartTv.jpg">
<div class="main article">
<i class="fas fa-shipping-fast"></i>
<p class="price">$70000</p>
<p class="discount">20% off</p>
<h4 class="description">Samsung SmartTv 50</h4>
</div>
</article>
<article>

<img class="foto" src="/img/S10.jpg">
<div class="main article">
<i class="fas fa-shipping-fast"></i>
<p class="price">$140000</p>
<p class="discount">15% off</p>
<h4 class="description">Samsung Galaxy S21</h4>
</div>
</article>
</section>
<section>
<h1 id="Barra">Sección de ofertas</h1>
<article>
<h4>Cafetera Atma negra</h4>   
<img  src="/img/cafetera.jpg">
<i class="fas fa-shipping-fast"></i>
<p class="Precio">$5500</p>
<p class="Descuento">10% off</p>


</article>
<article>
<h4>Samsung SmartTv 50</h4>
<img src="/img/SmartTv.jpg">
<i class="fas fa-shipping-fast"></i>
<p class="Precio">$70000</p>
<p class="Descuento">20% off</p>

</article>
<article>
<h4 class="Descripcion">Samsung Galaxy S21</h4>
<img src="/img/S10.jpg">
<i class="fas fa-shipping-fast"></i>
<p class="Precio">$140000</p>
<p class="Descuento">15% off</p>


</article>
</section>
</div>
</main>
<footer class="Fondo">

 <div class="Icono-Footer"><i class=" icono fas fa-credit-card"></i></div>

<h4 class="Footer">Paga con tarjeta o en efectivo</h4>
<p class="Footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
puntos de pago. ¡Y siempre es seguro!</p>

<div class="Icono-Footer"><i class="fas fa-gift"></i></div>

<h4 class="Icono-Footer">Envío gratis desde $ 2.500</h4>
<p class="Footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.</p>

<div class="Icono-Footer"><i class=" icono fas fa-user-shield"></i></div>

<h4 class="Footer">Seguridad, de principio a fin</h4>
<p class="Footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.</p>
<p class="Footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</body>
</html>